## Variables
Python supports both integers and floatung numbers that is decimals.
It also supports complex numbers too.
In python, user do not need to declare the variable ahead of assigning like in c, cpp.
A variable is created the moment you first assign a value to it.

In [5]:
x = 6
name = 'Amol'

In [7]:
# VAriables can adjust their type if assigned later with different type
x = 1
x = 'Amol'
x

'Amol'

In [8]:
# Variables are case sensitive in python
x = 3
X = 1
x,X

(3, 1)

# Variables Naming Rules
* Variable can start with a name or underscore
* Variable cannot start with a number
* Variable can only contain alpha-numeric characters 
* Variables are case-sensitive like discussed earlier

In [9]:
# Legal variable name
var = 1
Var = 2
var_1 = 3
var_a = 4
_var = 5
VAR = 7
var2 = 8

In [10]:
# Illegal variable name
var 1 = 1
var-a = 2
1var = 4

SyntaxError: ignored

In [11]:
# Namin convention to be followed

# Camel Case
varName = 'Amol'

# Pascal Case
VarName = 'Amol'

# snake case
var_name = 'Amol'

In [12]:
# Assign multiple values to variables in single line
a ,b ,c = 1, 'Amol', 2
print(a,b,c)

1 Amol 2

In [17]:
# Decalring global Variables
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is ", x)

myfunc()
print('Python is ', x)

Python is  fantastic
Python is  awesome

## Data Types
Below are some data types which are in-built in python :-
* str
* int, float, complex
* list, tuple, range
* dict
* set
* bool
* byte, bytearray

In [18]:
a = 5
type(a)

int

In [19]:
a = 'Amol'
type(a)

str

In [22]:
a = 2.0
type(a)

float

In [21]:
a = complex(2,4)
a

(2+4j)

In [25]:
x = bytearray(5)
x

bytearray(b'\x00\x00\x00\x00\x00')